@import '../../../Styles/variables.scss';

.similarItem {
  padding: 0px 3.3px;
  line-height: 18px;

  .imageEffectWarpper {
    position: relative;
    display: block;
    overflow: hidden;

    img {
      width: 140px;
      height: 204px;
      transition: all ease-in-out 0.5s;
      object-fit: cover;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        opacity: 50%;
      }
    }
  }

  h3 {
    margin-top: 5px;
    font-size: 15px;
  }
  h4 {
    font-size: 12px;
    color: $font-color-sub;
  }

  .smallCategoryText {
    margin-bottom: 30px;
  }
}
