.loginContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .loginBg {
    display: flex;
    align-items: center;
    height: 100vh;

    .loginBox {
      display: flex;
      align-items: center;
      width: 375px;
      height: 500px;
      margin: 0 auto;
      flex-direction: column;
      background-color: #fff;
      padding: 50px 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      position: relative;

      .loginTitle {
        margin-bottom: 25px;
        font-size: 17px;
        font-weight: bold;
      }
      .loginForm {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        width: 100%;

        input {
          margin: 5px 0;
          border: 1px solid #ccc;
          height: 44px;
          padding: 0 12px;
          background-color: #f5f5f5;
          border-radius: 6px;
        }
        .loginBtn {
          background-color: #ff2f6e;
          height: 44px;
          border-radius: 6px;
          color: #fff;
          font-size: 17px;
          font-weight: 400;
          margin-top: 5px;
          cursor: pointer;
        }
      }
      .forgotPw {
        margin-bottom: 25px;
        color: #ff2f6e;
        cursor: pointer;
      }
      .loginSignup {
        margin-bottom: 25px;

        span {
          color: #ff2f6e;
          margin-left: 5px;
          cursor: pointer;
        }
      }
      .closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        font-weight: bold;
        color: #ff2f6e;
        cursor: pointer;
      }
    }
  }
}
