@import '../../../Styles/variables.scss';

.wantEatContainer {
  display: flex;
  width: 250px;
  height: 100%;
  background-color: $main-color;
  border-radius: 8px;

  img {
    filter: invert(100%);
  }

  .eatButton {
    display: block;
    flex-grow: 1;
    color: white;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      img {
        transform: rotate(90deg);
      }
    }

    span {
      position: relative;
      top: 1px;
    }

    img {
      position: relative;
      top: 2px;
      margin-right: 10px;
      transition: transform ease-in-out 0.2s;
    }
  }

  .moreButton {
    display: block;
    width: 50px;
    border-left: 1px solid #e71252;
    cursor: pointer;

    &:hover {
      img {
        transform: translateY(3px);
      }
    }

    img {
      position: relative;
      top: 2px;
      width: 12px;
      transition: transform ease-in-out 0.2s;
    }
  }
}
