@import '../../Styles/common.scss';

.bg {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
  height: 100vh;

  .container {
    width: 600px;
    min-width: 600px;
    height: 85vh;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 8px;
    margin: 100px 100px 0 100px;
    background-color: #fff;
    margin-bottom: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    @media screen and (max-width: 760px) {
      padding: 0 50px;
    }

    .top {
      width: 100%;
      height: 200px;

      h2 {
        font-size: 25px;
        text-align: center;
        padding: 13px 0;
        font-weight: 700;
      }

      > p {
        font-size: 15px;
        color: rgb(120, 120, 120);
        margin-bottom: 20px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .tabs {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        border-bottom: 1px solid rgb(227, 227, 227);

        .tab {
          width: 100%;
          cursor: pointer;
          position: relative;
          color: #787878;
          font-size: 15px;
          padding: 10px 0 10px 0;

          &.tabActive {
            color: #fff;
            transition: 0.3s;
            border-bottom: 0;
            background-color: rgb(255, 47, 110);
            border-radius: 3px 3px 0 0;
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 3px;
            background-color: rgb(255, 47, 110);
            transition: 0.5;
          }

          &:hover::after {
            width: 100%;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .category {
        height: 54px;
        background-color: #f5f5f7;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 15px;
        font-weight: 400;
        color: rgb(0, 0, 0);
        padding-left: 30px;
        cursor: pointer;
        margin-bottom: 0;
      }
    }

    .contentsBox {
      width: 100%;
      height: calc(100% - 200px);
      overflow: scroll;

      .contents {
        width: 100%;
        height: auto;
        display: none;

        &.contentsActive {
          display: block;
        }

        .listContainer {
          width: 100%;
          height: 142px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          }

          .listBg {
            width: 100%;
            padding: 20px 20px;
            // border-bottom: 1px solid #ccc;
            border: none;
            display: flex;
            justify-content: space-between;

            .listBox {
              display: flex;
              justify-content: center;
              align-items: center;

              .listImgBox {
                width: 100px;
                height: 100px;

                .listImg {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  transition: all 0.2s;
                  border-radius: 50%;
                  border: none;
                  object-fit: cover;

                  &:hover {
                    transform: scale(1.2);
                  }
                }
              }

              .listTextBox {
                margin-left: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;

                .listText {
                  h2 {
                    margin-bottom: 5px;
                    font-size: 20px;
                    font-weight: bold;
                  }
                }

                .listHeartComponent {
                  //
                }
              }
            }
            .listThreeDotBox {
              @media screen and (max-width: 760px) {
                padding-right: 10px;
              }

              .threeDot {
                cursor: pointer;
              }
            }
          }
        }
      }
      h3 {
        // font-size: 50px;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
