.navSearchBox {
  position: absolute;
  display: none;
  top: 40px;
  right: 0;
  width: 300px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

  .searchTitle {
    font-size: 14px;
    color: #ff2f6e;
    padding: 10px;
    border-radius: 4px;
  }
  .searchResults {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    li {
      padding: 5px 0;
      margin-top: 5px;
      font-size: 14px;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}
