@import '../../../../Styles/variables.scss';

.productInfo {
  position: relative;
  padding: 0 10px;

  &:hover {
    cursor: pointer;
  }

  span {
    width: 28px;
    height: 28px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    top: 8px;
    left: 18px;
    background-color: #3b3b3b;
    color: white;
    border-radius: 4px;
    z-index: 1;

    p {
      line-height: 1.7;
    }
  }

  .pdImg {
    img {
      width: 214px;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
      border: 1px solid rgb(226, 226, 226);

      &:hover {
        transform: scale(1.03);
        transition: transform 0.4s;
      }
    }
  }

  .pdNameText {
    font-size: 16px;
    font-weight: 600;
    color: $font-color-main;
    line-height: 2;
  }

  .pdPrice {
    font-size: 14px;
    color: $font-color-main;
  }

  .pdStar {
    font-size: 14px;
    color: $font-color-main;
    line-height: 2;
    font-weight: 600;
    color: #ff0558;
  }
}
