.footer {
  background-color: #1c1d1f;
  width: 100%;
  height: 214px;
  padding: 28px 40px;

  p {
    color: #a5a5a7;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
  }

  .snsIcon {
    color: #6e6e6e;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }
}
