@import '../../Styles/variables.scss';

body {
  background-color: #f8f8f8;
}

// .categoryImageBox {
//   display: flex;
//   height: 393px;

//   .blackBlock {
//     background-color: black;
//     flex-grow: 1;
//   }

//   .categoryImageEffectBox {
//     position: relative;
//     width: 975px;
//     height: 100%;

//     .blurEffectLeft {
//       position: absolute;
//       height: 100%;
//       width: 150px;
//       background-image: linear-gradient(
//         270deg,
//         rgba(10, 7, 3, 0) 0%,
//         rgb(10, 7, 3) 100%
//       );
//       top: 0px;
//     }

//     .blurEffectRight {
//       position: absolute;
//       right: 0px;
//       top: 0px;
//       height: 100%;
//       width: 150px;
//       background-image: linear-gradient(
//         90deg,
//         rgba(10, 7, 3, 0) 0%,
//         rgb(10, 7, 3) 100%
//       );
//     }

//     img {
//       display: block;
//       height: 100%;
//       width: 100%;
//       object-fit: cover;
//       object-position: center;
//       z-index: -1;
//     }
//   }
// }

.introContainer {
  position: relative;
  height: 231px;
  background-color: white;
  border-bottom: 1px solid #e3e3e3;

  .introContents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 975px;
    height: 190px;
    margin: 0px auto;

    .introText {
      position: relative;
      margin-left: 191px;
      height: 100%;

      h1 {
        font-size: 33px;
        font-weight: 700;
      }

      .classification {
        margin-top: 6px;
        font-size: 17px;
        color: $font-color-sub;
      }

      .buttons {
        position: absolute;
        bottom: 0px;
        display: flex;
        align-items: stretch;
        gap: 20px;
        height: 40px;

        .leftButton {
          display: flex;
          width: 250px;
          background-color: $main-color;
          border-radius: 8px;

          img {
            filter: invert(100%);
          }

          .eatButton {
            display: block;
            flex-grow: 1;
            color: white;
            font-size: 19px;
            font-weight: 700;

            span {
              position: relative;
              top: 1px;
            }

            img {
              position: relative;
              top: 2px;
              margin-right: 10px;
            }
          }

          .moreButton {
            display: block;
            width: 50px;
            border-left: 1px solid #e71252;

            img {
              position: relative;
              top: 2px;
              width: 12px;
            }
          }
        }

        .rightButton {
          background-color: $main-color;
          border-radius: 8px;
          width: 120px;
          .evaluationButton {
            height: 100%;
            display: block;
            color: white;
            font-size: 19px;
            font-weight: 700;
            margin: 0px auto;
          }
        }
      }
    }

    .postImage {
      position: relative;
      bottom: 243px;
      width: 166px;
      height: 238px;
      border: 3px solid #ececec;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  gap: 20px;

  .itemIntroduce {
    flex-shrink: 0;
    width: 640px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    padding: 25px 25px 30px 25px;
    margin-top: 30px;
    margin-bottom: 30px;

    .itemPrice {
      margin: 0px 5px;

      h3 {
        position: relative;
        top: 17px;
        font-size: 18px;
        margin-bottom: 35px;
      }
    }

    h2 {
      font-size: 20px;
      font-weight: 700;
    }

    .anotherItemContainer {
      position: relative;

      h2 {
        border-top: 1px solid #f0f0f0;
        margin: 10px 5px;
        padding-top: 20px;
      }

      .anotherItemWrapper {
        overflow: hidden;

        .anotherItemList {
          position: relative;
          top: 0px;
          left: 0px;
          display: flex;
          justify-content: flex-start;
          transition: transform 0.5s ease-in-out;

          .anotherItem {
            padding: 0px 3.3px;
            img {
              width: 140px;
              height: 204px;
            }
          }
        }
      }

      .nextButton {
        display: inline-block;
        position: absolute;
        top: 135px;
        right: -10px;
        width: 30px;
        height: 30px;
        border-radius: 80%;
        box-shadow: 0px 0px 10px grey;
        background-color: white;
        text-align: center;

        img {
          position: relative;
          top: 5px;
          filter: invert(60%);
        }
      }

      .prevButton {
        display: inline-block;
        position: absolute;
        top: 135px;
        left: -10px;
        width: 30px;
        height: 30px;
        border-radius: 80%;
        box-shadow: 0px 0px 10px grey;
        background-color: white;

        img {
          position: relative;
          top: 5px;
          filter: invert(60%);
        }
      }
    }
    .similarItemContainer {
      h2 {
        border-top: 1px solid #f0f0f0;
        padding-top: 20px;
        margin: 20px 8px 10px 5px;
      }

      .similarItemList {
        // background-color: blue;
        display: flex;
        flex-wrap: wrap;
        .similarItem {
          padding: 0px 3.3px;
          line-height: 18px;
          img {
            width: 140px;
            height: 204px;
          }

          h3 {
            margin-top: 5px;
            font-size: 15px;
          }
          h4 {
            font-size: 12px;
            color: $font-color-sub;
          }

          .smallCategoryText {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .itemEtc {
    width: 320px;
    margin-top: 30px;

    .itemInfo {
      background-color: white;
      border: 1px solid #e3e3e3;
      border-radius: 7px;
      padding: 20px 10px;
      h2 {
        font-size: 20px;
        font-weight: 700;
      }

      p {
        margin-top: 10px;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}
