@import '../../Styles/common.scss';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;

    .navLeft {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .navLogoBox {
        margin: 0 50px;

        .companyLogo {
          width: 100px;
          cursor: pointer;
        }
      }

      .navCategoryBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1px;

        .cateAll,
        .navEvaluation {
          color: #7e7e7e;
          padding-top: 4px;
          cursor: pointer;
          margin: 0 10px;
          text-decoration: none;
        }
      }
    }

    .navRight {
      display: flex;
      justify-content: center;
      align-items: center;

      .inputBox {
        position: relative;

        .navInput {
          border: 1px solid #ccc;
          width: 300px;
          font-size: 15px;
          padding: 7px 10px;
          background-color: #f5f5f7;
          border: transparent;
          border-radius: 5px;

          &::placeholder {
            text-align: left;
            font-size: 13px;
          }

          &:focus + .navSearchBox {
            display: block;
          }
        }
      }

      .adminBox {
        margin: 0 50px;

        .loginBtn {
          font-size: 14px;
          color: #74747b;
          cursor: pointer;
        }

        .signupBtn {
          border: 1px solid rgba(116, 116, 123, 0.5);
          border-radius: 10px;
          padding: 5px 14px 6px;
          margin-left: 20px;
          font-size: 14px;
          font-weight: 500;
          color: #74747b;
          cursor: pointer;
        }
      }
    }
  }
}
